<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
</head>
<body>

	<h1><%= header%></h1>

	<ul class="user-list">
	</ul>

<script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>