
<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/">
        	<!-- <img src="<?=base_url($brand)?>" width="70" height="60"> -->
        	<%-brand%>
    	</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
                <% links.map(link => { %>
                <li class="menu-item">
                    <a class="nav-link <%=(link.url == url) ? 'active' : ''%>"href="<%=link.url %>"><%=link.label %></a>
                </li>
                <% }) %>
<!--                 <li class="menu-item">
                    <a class="nav-link" href="/blog">blog</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
