$heading1 : #fff;
$heading2 : salmon;
$link-color: hotpink;
$link-color-hover: firebrick;
$body-background: rgba(0, 0, 111, 235);
$border-color: rgba(255, 111, 0, 255);
$background: rgba(0, 111, 111, 101);
$main-background: rgba(100, 255, 0, 0.7);
$background-link: rgba(255, 100, 0, 0.9);
$hover-link: rgba(0, 255, 0, 255);
$box-shadow-main: rgb(193, 188, 188);
$background-active: rgb(232, 147, 19);
$box-shadow-active: rgb(253, 214, 156);


// testing sass in my blog codesyariah122
// $heading1: firebrick;
// $heading2: crimson;
