<div class="row justify-content-center">
	<div class="col-12">
		<h1 class="text-center">{{welcome}}</h1>

		<table class="table table-dark">
		  <thead>
		    <tr>
		      <th scope="col">fullname</th>
		      <th scope="col">email</th>
		    </tr>
		  </thead>
		  <tbody class="list-users">
		  	
		  </tbody>
		</table>

	</div>
</div>
