<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title id="title"></title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="./assets/css/styles.css">
</head>
<body>

<header>
	<h1 class="header-text">Home Page Node Js</h1>
		<h4 class="header-content">Web Development in NodeJS</h4>

	<div class="row">
		<ul>
			<li id="brand">
				<h1 id="homepage"></h1>
			</li>
			<li id="home" class="active">
				<a href="/" class="home">Home</a>
			</li>
			<li id="about">
				<a href="/about" class="about">About</a>
			</li>
		</ul>
	</div>
	
</header>

<main>
	<h4>Welcome in my Node JS Application</h4>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
</main>	

	


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script type="text/javascript" src='./assets/js/MyScript.js'></script>

<!-- <script type="text/javascript" src="./assets/js/app.js"></script>
 -->
<!-- <script type="text/javascript">
	sayHai("Puji Ermanto")
</script> -->
</body>
</html>