 <div class="row justify-content-center">
            <div class="col-md-8 mt-5">
                <div class="polaroid mt-5">
                    <img src="images/vector2.gif" class="img-responsive" alt="">
                    <div class="polaroid-body">
                            <h2>Belanja lengkap dengan proses yang mudah di <span class="websiteku">Websiteku</span> <span style="font-family:SpringSakura;">|</span> <br/> <span style="font-family:SpringSakura;">|</span> Berikut ini adalah  "beberapa panduan singkat mengenai proses berbelanja.</h2>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="col-md-12">
            <h1 class="underline"></h1>
        </div>
        
    </div>
    <!-- akhir container -->
	
    <!-- parallax -->

    <div class="parallax" style="background-image: url('images/amel2.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="caption mt-2 mb-5">
                        <h2>Beraneka ragam produk di jual di websiteku, dari produk fisik, digital dan berbagai produk kreatif, dan produk bahan olahan berupa sandang pangan.</h2>
                            <a href="http://form.syoobe.com/forms/file_upload/file_upload.php?sfm_tnail=attach_get_file&filename=Syoobe+Manual-Buyer2.pdf" class="btn btn-primary btn-lg" class="mb-3">Mari Lihat</a>
                    </div>
                </div>
            </div>
        </div>
    </div>