$headingSatu : crimson;

$font-button : rgba(255, 255, 255, 0.7);

$background : rgba(202, 210, 231, 1);

$button-about: rgba(222, 111, 111, 155);

$button-contact: rgba(0, 0, 234, 0.3);

$button-home: rgba(244, 158, 158, 0.75);

$box-shadow: rgba(140, 156, 166, 1);

$card-background: rgba(255, 255, 255, 0.9);
