
<button class="btn btn-outline-primary btn-lg" id="card-about">Card About</button>

<div class="card card-about" style="width: 18rem;">
  <img src="images/puji2.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%- header %></h5>
    <p class="card-text text-justify">
    	<%- content %><br/>

    	<span class="blockquote-footer text-right">
    		<font color="crimson">Salam</font>

    		<b><%- title %></b>

    	</span>
    </p>

    <button class="btn btn-primary" id="home">Home</button>

    <button class="btn btn-success" id="contact">Contact</button>

  </div>
</div>